{% extends 'partials/base.html.twig' %}
{% set scope = scope ?: 'data.' %}
{% block messages %}{% endblock %}

{% block body %}
<body id="admin-login-wrapper">
    <section id="admin-login" class="login-box-shadow {{ classes }}">
        <h1>
            {{ title }}
        </h1>

        {% include 'partials/messages.html.twig' %}

        {% block instructions %}{% endblock %}

        {% block integration %}{% endblock %}

        {% set redirect = redirect ?: uri.path ~ uri.params ~ (uri.query ? '?' ~ uri.query : '') %}

        <form method="post" action="{{ base_url_relative }}">
            <div class="padding">
                {% block form %}{% endblock %}
                <input type="hidden" name="redirect" value="{{ redirect }}" />
                {{ nonce_field('admin-form', 'admin-nonce')|raw }}
            </div>
        </form>

        <script>
            $(document).ready( function() {
                $('#messages').delay(5000).animate({ height: 'toggle', opacity: 'toggle' }, 'slow');
            });
        </script>
    </section>
</body>
{% endblock %}
