{% set admin_messages = admin.messages|merge(admin.getTempMessages()) %}
{% set form_message = form.message %}
<div id="messages" class="top-notifications-container{{ admin_messages|length or form_message ? ' default-box-shadow' : '' }}">
    <div class="single-notification info alert hidden" data-gpm-grav></div>
    {%- for message in admin_messages -%}
    <div class="{{ message.scope|e }} alert">{{ message.message|raw }}</div>
    {%- endfor -%}
    {%- if form_message -%}
    <div class="error alert">{{ form_message|raw }}</div>
    {%- endif -%}
    {%- for message in plugin_messages -%}
        <div class="{{ message.scope|e }} alert">{{ message.message|raw }}</div>
    {%- endfor -%}
</div>
