<div class="remodal"
     data-remodal-id="reinstall-package"
     data-remodal-options="hashTracking: false">
    <form>
        <div class="reinstall-package-confirm">
            <h1>{{ "PLUGIN_ADMIN.REINSTALL_THE"|tu([("PLUGIN_ADMIN." ~ type|upper)|tu])|e }}</h1>
            <p class="bigger">
                {{ "PLUGIN_ADMIN.CONFIRM_REINSTALL"|tu([("PLUGIN_ADMIN." ~ type|upper)|tu])|e }}
            </p>
            <p class="bigger hidden warning-reinstall-not-latest-release">
                {{ "PLUGIN_ADMIN.WARNING_REINSTALL_NOT_LATEST_RELEASE"|tu|e }}
            </p>

            <div class="button-bar">
                <button data-remodal-action="cancel" class="button secondary remodal-cancel"><i class="fa fa-fw fa-close"></i> {{ "PLUGIN_ADMIN.CANCEL"|tu|e }}</button>

                <button data-{{ type|e }}-action="reinstall-package"
                        data-package-slug="{{ package.slug|e }}"
                        data-package-type="{{ package.package_type |e }}"
                        data-package-name="{{ package.name|e }}"
                        data-package-current-version="{{ package.version|e }}"
                        class="button"><i class="fa fa-fw fa-check"></i> {{ "PLUGIN_ADMIN.CONTINUE"|tu|e }}</button>

                <div class="spinning-wheel hidden">
                    {{ "PLUGIN_ADMIN.INSTALLING"|tu|e }}.. <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>

        <div class="reinstall-package-done hidden">
            <h1>{{ "PLUGIN_ADMIN.REINSTALLED_SUCCESSFULLY"|tu([("PLUGIN_ADMIN." ~ type|upper)|tu])|e }}</h1>
        </div>

        <div class="reinstall-package-error hidden">
            <h1>{{ "PLUGIN_ADMIN.ERROR_REINSTALLING_THE"|tu([("PLUGIN_ADMIN." ~ type|upper)|tu])|e }}</h1>
        </div>
    </form>
</div>
