<!doctype html>
<html ⚡>
  <head>
    <link rel="preload" href="/static/fonts/noto-sans-v7-latin-regular.woff2" as="font" crossorigin>
    <link rel="preload" href="/static/fonts/noto-sans-v7-latin-700.woff2" as="font" crossorigin>
    <link rel="preload" href="/static/fonts/poppins-v5-latin-700.woff2" as="font" crossorigin>

    <style amp-custom>
    {{{ highlightTheme }}}
    {{scss 'components/atoms/headline.scss' }}
    {{scss 'components/atoms/icon.scss' }}
    {{scss 'components/molecules/code-snippet.scss' }}
    {{scss 'main.scss' }}
    </style>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      {{> 'logo.svg' }}
      {{> 'angle-down-solid.svg' }}
    </svg>

    <header class="ap--header ap--header-fixed">
      <div class="ap-o-header">
        <a class="ap-o-header-home" href="/boilerplate">
          <svg class="ap-o-header-home-logo"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
          <span class="ap-o-header-home-title">AMP</span> <span class="ap-o-header-home-sub-title">Example Preview</span>
        </a>
        <a class="ap-m-homepage-link" href="/">amp.dev
          <svg class="ap-a-ico icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#angle-down-solid"></use></svg>
        </a>
      </div>
    </header>

    <main>

    </main>
  </body>
</html>
