{{#if helpText}}
<p class="input-bar-help-text">{{{ helpText }}}</p>
{{/if}}

<div class="input-bar">
  <input class="input-bar-field"
      type="{{ type }}"
      name="{{ name }}"
      placeholder="{{ placeholder }}">
  <button class="input-bar-submit"
      name="button">
    {{ label }}
  </button>
</div>

<label class="input-bar-label">
</label>
