{% set subnav_collection = page.collection('subnav')%}

<header class="ad-o-header">
  <nav class="ad-o-header-main-nav">
    <ul class="ad-o-header-lnk-list">
      <li class="ad-o-header-lnk">
        <a class="ad-a-ico ad-a-ico-5 ad-a-ico-blue-ribbon " href="/">{{ icons.useIcon('logo') }}</a>
      </li>
      {% for p in page.collection %}
      <li class="ad-o-header-lnk">
        <a class="ad-m-lnk ad-m-lnk-underline" href="{{ p.route }}">
          <span class="ad-a-txt ad-a-txt-3 ad-a-txt-strong ad-a-txt-black">{{ p.title }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>

{% if subnav_collection != '' %}
  <nav class="ad-o-header-sub-nav">
    <ul class="ad-o-header-lnk-list">
      {% for p in subnav_collection %}
      <li class="ad-o-header-lnk">
        <a class="ad-m-lnk ad-m-lnk-underline" href="{{ p.route }}">
          <span class="ad-a-txt ad-a-txt-3 ad-a-txt-strong ad-a-txt-black">{{ p.title }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
</header>
