{% set grid_size = theme_var('grid-size') %}
{% set image = page.media.images|first %}

<section class="section modular-text {{ page.header.class}} bg-gray">
    <section class="container {{ grid_size }}">
        <div class="columns {{ page.header.image_align|default('align-right') }}">
            <div class="column col-6 col-md-12">
                {{ content }}
            </div>
            <div class="column col-6 col-md-12">
                {% if image %}
                    {{ image.html }}
                {% endif %}
            </div>
        </div>
    </section>
</section>
